<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="style.css"> <!-- Hoja de estilo propia -->
    <link rel="shortcut icon" href="assets/favicon2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS de Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

</head>

<body class="aparecer">
    <div id="app" v-cloak>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script> <!-- JS de Boostrap -->

        <!-- Barra de Navegación -->
        <nav class="navbar fixed-top navbar-expand-lg bg-dark pt-1 pb-1">
            <div class="container-fluid">
                <!-- Para que nav ocupe todo el ancho de la página -->
                <a class="navbar-brand" href="#"><img id="logo" src="/assets/Logo2.png" alt=""></a>
                <!-- Logo con link a la misma página -->

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> <!-- Botón de navbar colapsado -->

                <div class="collapse navbar-collapse m-1" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item m-1 enlace">
                            <a class="nav-link text-center" href="index.html">home</a>
                        </li>
                        <li class="nav-item m-1 enlace">
                            <a class="nav-link text-center" href="e_upcoming.html">upcoming events</a>
                        </li>
                        <li class="nav-item m-1 enlace">
                            <a class="nav-link text-center" href="e_past.html">past events</a>
                        </li>
                        <li class="nav-item m-1 enlace">
                            <a class="nav-link text-center" href="contact.html">contact</a>
                        </li>
                        <li class="nav-item m-1">
                            <a class="nav-link active text-center" aria-current="page" href="stats.html">stats</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>

        <section class="encabezado pt-5 mt-5 pb-3 abajo-arriba shadow">
            <p class="fs-1 text-light text-center fw-bold aparecer">STATS</p>
        </section>

        <section class="container-sm pt-4 pb-4 mb-4 principal">

            <table class="table text-bg-dark aparecer p-3 rounded">
                <thead>
                    <tr>
                        <th scope="col" colspan="3" class="text-center fs-5">Event Stadistics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fw-bold">
                        <td>Event with the highest percentage of attendance</td>
                        <td>Event with the lowest percentage of attendance</td>
                        <td>Event with larger capacity</td>
                    </tr>
                    <tr id="EventStadistics">

                        <td><b>{{MayAsis.name}}</b> with {{MayAsis.cantidad}}%</td>
                        <td><b>{{MenAsis.name}}</b> with {{MenAsis.cantidad}}%</td>
                        <td><b>{{MayCap.name}}</b> with {{MayCap.cantidad}}</td>

                    </tr>
                    <tr>
                        <th scope="col" colspan="3" class="text-center fs-5">Upcoming events stadistics by category</th>
                    </tr>
                    <tr class="fw-bold">
                        <td>Categories</td>
                        <td>Revenues</td>
                        <td>Percentage of attendance</td>
                    </tr>
                </tbody>
                <tbody id="UpcomingStadistics">

                    <tr v-for="(dato,i) in RevEstimate">
                        <td>{{dato.Category}}</td>
                        <td>$ {{dato.Revenues}}</td>
                        <td>{{dato.PercentAtten}}%</td>
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <th scope="col" colspan="3" class="text-center fs-5">Past events stadistics by category</th>
                    </tr>
                    <tr class="fw-bold">
                        <td>Categories</td>
                        <td>Revenues</td>
                        <td>Percentage of attendance</td>
                    </tr>
                </tbody>
                <tbody id="PastStadistics">

                    <tr v-for="(dato,i) in RevAtten">
                        <td>{{dato.Category}}</td>
                        <td>$ {{dato.Revenues}}</td>
                        <td>{{dato.PercentAtten}}%</td>
                    </tr>

                </tbody>
            </table>

        </section>

        <footer>

            <div class="container-fluid m-0 row p-5 encabezado justify-content-between">
                <div class="col-md-4 d-flex justify-content-around m-3">
                    <a href="" class="col-sm-1 ms-2 me-2"><img id="logo" src="/assets/facebook.png" alt=""></a>
                    <a href="" class="col-sm-1 ms-2 me-2"><img id="logo" src="/assets/instagram.png" alt=""></a>
                    <a href="" class="col-sm-1 ms-2 me-2"><img id="logo" src="/assets/whatsapp.png" alt=""></a>
                </div>
                <div class="col-md-3 m-3 d-flex align-items-center justify-content-center">
                    <p class="fw-bold text-center m-0">MINDHUB - Cohort 29</p>
                </div>
            </div>

        </footer>

    </div>

    <script src="https://unpkg.com/vue@3"></script> <!-- JS de Vue.js -->
    <script src="/scrips/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script> <!-- JS de Boostrap -->

</body>

</html>